<style>
  .quarto-title-banner {
    background-image: linear-gradient(
        180deg,
        rgba(0, 64, 85, 1) 0%,
        rgba(0, 64, 86, 0.9) 50%,
        rgba(0, 64, 85, 0.75) 55%
      ),
      url($image$);
  }
</style>

$if(by-affiliation/first)$
<div class="quarto-title-meta-author">
  <div class="quarto-title-meta-heading">$labels.authors$</div>
  <div class="quarto-title-meta-heading">$labels.affiliations$</div>

  $for(by-author)$
  <div class="quarto-title-meta-contents">
    <p class="author">$_title-meta-author.html()$</p>
  </div>
  <div class="quarto-title-meta-contents">
    $for(by-author.affiliations)$
    <p class="affiliation">
      $if(it.url)$
      <a href="$it.url$"> $endif$ $it.name$ $if(it.url)$ </a>
      $endif$
    </p>
    $endfor$
  </div>
  $endfor$
</div>
$endif$

<div class="quarto-title-meta">
  $if(by-affiliation)$ $elseif(by-author)$
  <div>
    <div class="quarto-title-meta-heading">$labels.authors$</div>
    <div class="quarto-title-meta-contents">
      $for(by-author)$
      <p>$_title-meta-author.html()$</p>
      $endfor$
    </div>
  </div>
  $endif$ $if(date)$
  <div>
    <div class="quarto-title-meta-heading">$labels.published$</div>
    <div class="quarto-title-meta-contents">
      <p class="date">$date$</p>
    </div>
  </div>
  $endif$ $if(date-modified)$
  <div>
    <div class="quarto-title-meta-heading">$labels.modified$</div>
    <div class="quarto-title-meta-contents">
      <p class="date-modified">$date-modified$</p>
    </div>
  </div>
  $endif$ $if(doi)$
  <div>
    <div class="quarto-title-meta-heading">$labels.doi$</div>
    <div class="quarto-title-meta-contents">
      <p class="doi">
        <a href="https://doi.org/$doi$">$doi$</a>
      </p>
    </div>
  </div>
  $endif$ $if(hal)$
  <div>
    <div class="quarto-title-meta-heading">HAL</div>
    <div class="quarto-title-meta-contents">
      <p class="doi">
        <a href="$hal$">$halid$</a>
      </p>
    </div>
  </div>
  $endif$
</div>

$if(abstract)$
<div>
  <div class="abstract">
    <div class="block-title">$labels.abstract$</div>
    $abstract$
  </div>
</div>
$endif$ $if(keywords)$
<div>
  <div class="keywords">
    <div class="block-title">$labels.keywords$</div>
    <p>$for(keywords)$$it$$sep$, $endfor$</p>
  </div>
</div>
$endif$ $if(links)$
<div
  class="mt-4 d-flex flex-row flex-wrap gap-1 justify-content-left justify-content-sm-start"
  role="group"
  aria-label="Links"
>
  $for(links)$
  <a
    href="$links.url$"
    class="btn ${if(links.class)}${links.class}${else}btn-secondary${endif} text-capitalize"
    ><i class="$links.icon$ me-1"></i> $links.name$</a
  >
  $endfor$
</div>
$endif$
